.container{
    margin: 0 auto;
    padding: 50px 20px;
    max-width: 1140px;

}
.containerItems{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    margin-bottom: 20px;
}
.images{
    margin-right: 50px;
    border: 1px dashed rgb(252, 1, 1);
    border-radius: 4px;
    padding: 5px;
    background-color: #ffffff;
    transition: all 0.3s ease-in-out;
    display: flex;
}
.images img{
    max-width: 100%;
    max-height: 100%;
   
}
.images:hover{
    border: 1px solid rgb(252, 1, 1);
    box-shadow: 0px 0px 10px rgb(252, 1, 1);
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    border: 1px dashed rgb(252, 1, 1);
    border-radius: 4px;
    background-color: #ffffff;
    transition: all 0.3s ease-in-out;
}
.info:hover{
    border: 1px solid rgb(252, 1, 1);
    box-shadow: 0px 0px 10px rgb(252, 1, 1);
}
.title{
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 20px 0;
}
.text{
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
    margin: 0 0 20px 0;
}
.genres{
    font-size: 18px;
    line-height: 1.5;
    margin: 0 0 20px 0;
    display: flex;
    justify-content: flex-start;
    list-style: none;
    padding: 0;
    margin: 0;
}

.genresItem{
    padding: 10px 25px;
    border: 1px solid rgb(8, 8, 8);
    border-radius: 5px;
    cursor: default;
    background: linear-gradient(to right, #333333, #dd1818);
    color: white;
    transition: background 0.3s;
    margin-right: 15px;
}
.genresItem:last-child{
    margin-right: 0;
}
.titleGenres{
    font-size: 30px;
    font-weight: bold;
    line-height: 1.5;
}
.genresText{
    font-size: 18px;
    line-height: 1.5;
    margin: 0;
    
}
.genresItem:hover{
    background: linear-gradient(to left, #333333, #dd1818);
    color: white;
}
.navLink{
    text-align: center;
    
}
.link {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #f5f5f5;
    color: #000;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease;
    box-sizing: border-box;
}
.link:nth-of-type(1){
    margin-right: 25px;
}


.link:hover {
    background-color: #000;
    color: #fff;
}

.link.active {
    background-color: #000;
    color: #fff;
}