.container{
    padding: 50px 20px;
    max-width: 1140px;

}
.containerImage{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 100px;
}
.containerItems{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;

}


.images img{
    min-width:100%;
    max-height: 600px;
    object-fit: cover;
    border-radius: 5px;
}

.info{
    margin-top: 58px;
    color: #000;
    
}

.title{
    font-size: 32px;
    font-weight: bold;
    margin: 0 0 25px 0;

}

.text{
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 15px 0;
}
.genres{
    padding: 0;
    margin: 0;
    list-style: none;
}

.genresItem{
    display: inline-block;
    margin-right: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #f5f5f5;
    color: #000;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 1px solid #ee0a0a;
    box-shadow: 0 0 10px #ee0a0a;
}
.genresItem:hover{
    background-color: #000;
    color: #fff;
}
.genresItem:last-child{
    margin-right: 0;
}
.genresText{
    margin: 0 ;
}

.navLink{
    margin-top: 25px;
}

.link {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #f5f5f5;
    color: #000;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease;
    box-sizing: border-box;
}
.link:nth-of-type(1){
    margin-right: 25px;
}


.link:hover {
    background-color: #000;
    color: #fff;
}

.link.active {
    background-color: #000;
    color: #fff;
}