.container{
    padding-top: 20px;   
}

.list{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    border: 1px dashed rgb(252, 1, 1);
    border-radius: 4px;
    background-color: #ffffff;
    padding: 10px 0;
    transition: all 0.3s ease-in-out;
}

.list:hover{
    border: 1px solid rgb(252, 1, 1);
    box-shadow: 0px 0px 10px rgb(252, 1, 1);
}

.item{
    margin: 0 10px 20px 10px;
    width: 200px;
    height: 425px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item:hover{
    transform: scale(1.03);
}

.image{
    width: 200px;
    height:300px;
    border-radius: 5px;
}

.name{
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-top: 10px;
}
.character{
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
}