.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.items{
    list-style: none;
    margin: 25px 0;
    padding: 0;
    width: 500px;

}
.item {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    background: linear-gradient(to right, #232526, #414345);
    border-radius: 5px;
}

.item:last-child {
    margin-bottom: 50px;
}
.itemLink {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
}

.itemLink:hover .icon,
.itemLink:hover .title,
.itemLink:hover .text {
    fill: rgb(241, 85, 85);
    color: rgb(241, 85, 85);
}
.iconItem {
    margin-right: 10px;
}

.icon {
    width: 30px;
    height: 30px;
    fill: white;
    transition: fill 0.3s ease-in-out;
    margin-left: 10px;
}

.title {
    margin: 0 10px 0 0;
    color: white;
    transition: color 0.3s ease-in-out;
}

.notFound {
    margin-top: 100px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #cb2d3e;
}

.notFound span {
    color: rgb(2, 2, 2);
    font-size: 40px;
}